{% extends "base.html" %}

{% block content %}
<div class="card" style="margin-top: 20px">
    <div class="card-header text-center">
        Albums
    </div>
    <table class="table" id="albums-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Release Year</th>
                <th>Number of songs</th>
                <th>Length in sec</th>
                <th>Author</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for album in albums.items %}
            <tr>
                <td>{{ album.id_a }}</td>
                <td>{{ album.title }}</td>
                <td>{{ album.release_year}}</td>
                <td>{{ album.number_of_songs }}</td>
                <td>{{ album.length_sec }}</td>
                <td>{{ album.author.name }}</td>
                <td>{{ album.created_at.strftime("%d.%m.%Y %H:%M:%S")  }}</td>
                <td>{{ album.updated_at.strftime("%d.%m.%Y %H:%M:%S") }}</td>
                <td><a href="{{ url_for("albums.update_view", id=album.id_a) }}" class="btn btn-primary">Update</a></td>
                <td><a href="#" class="btn btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <!-- Pagination Links-->
<div class="text-right" style="margin-top: 20px">
    <a href="{{ url_for('albums.index_view', page=albums.prev_num) }}"
       class="btn btn-outline-dark
       {% if albums.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
    <!-- Loop through the number of pages to display a link for each-->
    {% for page_num in albums.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        <!-- Check for the active page and set the link to "Active"-->
            {% if albums.page == page_num %}
            <a href="{{ url_for('albums.index_view', page=page_num) }}"
               class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('albums.index_view', page=page_num) }}"
               class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('albums.index_view', page=albums.next_num) }}"
       class="btn btn-outline-dark
       {% if albums.page == albums.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3">
   Showing page {{ albums.page }} of {{ albums.pages }}
</p>

{% endblock %}