{% extends "base.html" %}

{% block content %}
<div class="card" style="margin-top: 20px">
    <div class="card-header text-center">
        Albums
    </div>
    <div class="card-body text-center">
        <table class="card-table table-bordered table-responsive" id="songs-table" style="word-break: break-all;margin: auto">
            <thead>
                <tr>
                    <th scope="col" style="padding: 3px">ID</th>
                    <th scope="col" style="padding: 10px">Title</th>
                    <th scope="col" style="padding: 10px">Release Year</th>
                    <th scope="col" style="padding: 5px">Number of songs</th>
                    <th scope="col" style="padding: 5px">Length in sec</th>
                    <th scope="col" style="padding: 10px">Author</th>
                    <th scope="col" style="padding: 10px">Created at</th>
                    <th scope="col" style="padding: 10px">Updated at</th>
                    <th scope="col" style="padding: 10px">Update</th>
                    <th scope="col" style="padding: 10px">Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for album in albums.items %}
                <tr>
                    <td>{{ album.id_a }}</td>
                    <td style="padding: 5px"> {{ album.title }}</td>
                    <td>{{ album.release_year}}</td>
                    <td style="padding: 2px">{{ album.number_of_songs }}</td>
                    <td>{{ album.length_sec }}</td>
                    <td style="padding: 5px">{{ album.author.name }}</td>
                    <td style="padding: 5px">{{ album.created_at.strftime("%d.%m.%Y %H:%M:%S")  }}</td>
                    <td style="padding: 5px">{{ album.updated_at.strftime("%d.%m.%Y %H:%M:%S") }}</td>
                    <td style="padding: 5px"><a href="{{ url_for("albums.update_view", id=album.id_a) }}" class="btn btn-primary">Update</a></td>
                    <td style="padding: 5px"><a href="#" class="btn btn-danger" onclick="$('#album-delete--{{ album.id_a }}').submit()">Delete</a></td>
                    <form action="{{ url_for("albums.delete_record", id=album.id_a)}}" method="POST" id="album-delete--{{ album.id_a }}">
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    <!-- Pagination Links-->
<div class="text-right" style="margin-top: 20px">
    <a href="{{ url_for('albums.index_view', page=albums.prev_num) }}"
       class="btn btn-outline-dark
       {% if albums.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
    <!-- Loop through the number of pages to display a link for each-->
    {% for page_num in albums.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        <!-- Check for the active page and set the link to "Active"-->
            {% if albums.page == page_num %}
            <a href="{{ url_for('albums.index_view', page=page_num) }}"
               class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('albums.index_view', page=page_num) }}"
               class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('albums.index_view', page=albums.next_num) }}"
       class="btn btn-outline-dark
       {% if albums.page == albums.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3">
   Showing page {{ albums.page }} of {{ albums.pages }}
</p>

{% endblock %}