{% extends "menu.html" %}

{% block content %}

<div class="card" style="margin-top: 20px">
    <div class="card-header text-center">
        Nationalities
    </div>
    <div class="card-body text-center">
        <table class="table table-bordered table-responsive" id="nationalities-table" style="word-break: break-all;margin: auto">
            <thead>
                <tr>
                    <th scope="col" style="padding: 3px">ID</th>
                    <th scope="col" style="padding: 5px">Nationality</th>
                    <th scope="col" style="padding: 5px">Created at</th>
                    <th scope="col" style="padding: 10px">Updated at</th>
                </tr>
            </thead>
            <tbody>
                {% for nationality in nationalities.items %}
                <tr>
                    <td>{{ nationality.id_n }}</td>
                    <td style="padding: 2px">{{ nationality.nationality }}</td>
                    <td style="padding: 5px">{{ nationality.created_at.strftime("%d.%m.%Y %H:%M:%S")  }}</td>
                    <td style="padding: 5px">{{ nationality.updated_at.strftime("%d.%m.%Y %H:%M:%S") }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="text-right" style="margin-top: 20px">
    <a href="{{ url_for('nationalities.index_view', page=nationalities.prev_num) }}"
       class="btn btn-outline-dark
       {% if nationalities.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
    <!-- Loop through the number of pages to display a link for each-->
    {% for page_num in nationalities.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        <!-- Check for the active page and set the link to "Active"-->
            {% if nationalities.page == page_num %}
            <a href="{{ url_for('nationalities.index_view', page=page_num) }}"
               class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('nationalities.index_view', page=page_num) }}"
               class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('nationalities.index_view', page=nationalities.next_num) }}"
       class="btn btn-outline-dark
       {% if nationalities.page == nationalities.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3">
   Showing page {{ nationalities.page }} of {{ nationalities.pages }}
</p>
{% endblock %}