{% extends "menu.html" %}

{% block content %}

    <div class="card">
        <div class="card-header text-center">
            Add song
        </div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <label for="titleOfsong">Name of the song</label>
                    <input name="name" id="name" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="genreSelect">Genre</label>
                    <select class="form-control" name="genre" id="genre">
                        {% for genre in genres %}
                            <option value="{{ genre.id_g }}">{{ genre.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="lengthOfSong">Length of song</label>
                    <input type="number" name="length" id="length" class="form-control">
                </div>
                <div class="form-group">
                    <label for="numberOfSongs">Number Of Plays</label>
                    <input name="number_of_plays" id="number_of_plays" type="number" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="albumSelect">Album</label>
                    <select class="form-control" name="album" id="album">
                        <option value=NULL></option>
                        {% for album in albums %}
                            <option value="{{ album.id_a }}">{{ album.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="releaseYear">Release Year</label>
                    <input name="release_year" id="release_year" type="number" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px">Add</button>
            </form>
        </div>
    </div>

{% endblock %}